@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");



.inventory-stock-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--shadow-color);
  margin-bottom: 30px;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  align-items: start;
}

.selectedItems {
  background-color: var(--card-background);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px var(--shadow-color);
  position: sticky;
  top: 20px;
  height: fit-content;
}

.add-item-form-container,
.inventory-list {
  background-color: var(--card-background);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px var(--shadow-color);
}


.add-item-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: 600;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color);
}

.inventory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.inventory-item {
  background-color: var(--card-background);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 5px 4px var(--shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.inventory-item:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 8px var(--shadow-color);
}

.item-actions button {
  padding: 5px 10px;
  font-size: 14px;
}

.inventory-item h3 {
  margin: 0 0 3px 0;
  color: var(--primary-color);
}

.inventory-item p {
  margin: 0 0 1px 0;

}

.inventory-item img {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
}

.item-actions {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.inventory-item {
  background-color: var(--card-background);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 5px 4px var(--shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.inventory-item:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 8px var(--shadow-color);
}

.item-icons {
  position: absolute;
  top: 10px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  color: #555;
  transition: color 0.3s;
  font-size: 1.2rem; /* Ajusta el tamaño del icono si quieres */
}
.inventory-item:hover .item-icons {
  opacity: 1;
  visibility: visible;
  pointer-events: auto; /* Permite interactuar con los iconos cuando están visibles */
}

.edit-icon:hover {
  color: #007bff; /* Azul al pasar el mouse */
}

.delete-icon:hover {
  color: #d4192c; /* Rojo al pasar el mouse */
}
@media (max-width: 768px) {
  main {
    grid-template-columns: 2fr;
  }

  .custom-header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color);
    margin-bottom: 30px;
  }

  custom-nav {
    display: flex; 
  }

  

}